input,
textarea {
  display: inherit;
}

.z-1 {
  z-index: 1;
}

/* Header */
.offcanvas-panel {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-panel.panel-on {
  visibility: visible;
  opacity: 1;
}

.offcanvas-panel .panel-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--heading);
  cursor: pointer;
  z-index: 9998;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-panel .offcanvas-panel-inner {
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -300px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.offcanvas-panel.panel-on .offcanvas-panel-inner {
  visibility: visible;
  opacity: 1;
  margin-right: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.offcanvas-panel .offcanvas-panel-inner .panel-logo,
.offcanvas-panel .offcanvas-panel-inner .offcanvas-panel,
.offcanvas-panel .offcanvas-panel-inner .about-us {
  margin-bottom: 40px;
}

.offcanvas-panel .panel-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background-color: var(--blue-dark);
  z-index: 2;
}

.offcanvas-panel .panel-widget-title {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  border-bottom: 2px solid #ededed;
  font-weight: 600;
}

.offcanvas-panel .contact-us ul li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
  font-size: 16px;
}

.offcanvas-panel .contact-us ul li svg {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: var(--blue-dark);
  border-radius: 50%;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.transparent-header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-navigation .nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation-style-v2 .container-fluid {
  padding-left: 190px;
  padding-right: 190px;
}

.header-navigation.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
  -webkit-box-shadow: 0 10px 30px 0 rgb(110 104 162 / 10%);
  box-shadow: 0 10px 30px 0 rgb(110 104 162 / 10%);
}

.header-navigation .primary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-branding .brand-logo {
  max-width: 157px;
}

.nav-ml-auto {
  margin-left: auto;
}

.header-navigation .header-right-nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-right-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-style-v2 .header-right-nav ul li {
  margin-left: 35px;
}

.header-right-nav ul li.bar-item {
  cursor: pointer;
}

.header-right-nav ul li.navbar-toggle-btn {
  display: none;
}

.header-right-nav ul li.bar-item a {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--blue-dark);
}

.navigation-style-v2 .header-right-nav ul li.cart-item a span {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fd4a18;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

.header-navigation .navbar-toggler {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation-style-v2 .header-right-nav ul li.cart-item a {
  position: relative;
  color: var(--heading);
}

.header-navigation .navbar-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: none;
  cursor: pointer;
  background: var(--blue-dark);
}

.header-navigation .navbar-close svg {
  color: #fff;
  font-size: 20px;
}

.nav-menu .nav-search {
  display: none;
  margin: 0 20px 20px;
}

.form_group {
  position: relative;
}

.form_control {
  width: 100%;
  border: none;
  font-weight: 500;
}

.nav-menu .nav-search .form_group .form_control {
  border: 1px solid #e1e1e1;
  height: 60px;
  padding: 0 20px;
}

.nav-menu .nav-search .form_group .search-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
}

.nav-menu .nav-search .form_group .search-btn {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
}

.header-navigation .main-menu ul li > a {
  display: block;
  font-size: 17px;
  color: #162542;
  font-family: var(--rajdhani);
  text-transform: capitalize;
  font-weight: 700;
  padding: 35px 18px;
  line-height: 1;
}

.header-navigation .main-menu ul li:first-child > a {
  padding-left: 0;
}

.header-navigation .main-menu ul li > a.active:before,
.header-navigation.breakpoint-on
  .nav-menu
  .main-menu
  ul
  > li
  > a.nav-link.active,
.header-navigation .main-menu ul li > a.active {
  color: var(--blue-dark);
}

.header-navigation .main-menu > ul > li > a:after {
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--blue-dark);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-navigation .main-menu ul li > a.active:after,
.header-navigation .main-menu ul li:hover > a:after {
  width: 100%;
}

.header-navigation .main-menu ul li:hover > a {
  color: var(--blue-dark);
}

.header-navigation .header-right-nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-right-nav ul li.bar-item {
  cursor: pointer;
}

.header-right-nav ul li.bar-item a {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--blue-dark);
}

.header-right-nav ul li.bar-item a {
  border-radius: 50%;
}

.header-right-nav ul li {
  margin-left: 35px;
}

.header-navigation .navbar-toggler {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-navigation .navbar-toggler span {
  position: relative;
  background-color: #162542;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 5px;
  padding: 0;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  width: 30px;
  cursor: pointer;
  display: block;
}

.navbar-collapse .navbar-nav a.nav-link {
  color: #000;
  display: inline-block;
  position: relative;
}

.header-navigation .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-navigation .main-menu ul li > a.active:before,
.header-navigation.breakpoint-on
  .nav-menu
  .main-menu
  ul
  > li
  > a.nav-link.active,
.header-navigation .main-menu ul li > a.active {
  color: var(--blue-dark);
}

.header-navigation .main-menu ul li:first-child > a {
  padding-left: 0;
}

.header-navigation .main-menu ul li > a {
  display: block;
  font-size: 17px;
  color: #162542;
  font-family: var(--rajdhani);
  text-transform: capitalize;
  font-weight: 700;
  padding: 35px 18px;
  line-height: 1;
}

.header-navigation .main-menu ul li .sub-menu {
  position: absolute;
  left: 0;
  top: 120%;
  min-width: 250px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 99;
  padding: 10px 0;
  height: auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 30px 70px 0 rgb(137 139 142 / 15%);
  box-shadow: 0 30px 70px 0 rgb(137 139 142 / 15%);
}

.header-navigation .main-menu ul li .sub-menu li {
  display: block;
  margin: 0;
}

.header-navigation .main-menu ul li {
  display: inline-block;
  position: relative;
}

.header-navigation .header-right-nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.banner {
  padding: 120px 0 70px;
  overflow: hidden;
}

.banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-filter: blur(110px);
  filter: blur(110px);
  background-color: rgb(89 86 233/60%);
  z-index: -2;
}

.banner .shape {
  position: absolute;
  top: 0;
  z-index: -1;
}

.banner .shape.shape-one {
  left: 0;
}

.banner .shape.shape-four {
  bottom: 0;
  left: 0;
}

.banner .hero-content span.sub-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--blue-dark);
  margin-bottom: 15px;
}

.banner .hero-content span.sub-title svg {
  margin-right: 15px;
}

.banner .hero-content h1 {
  margin-bottom: 30px;
}

.banner .hero-content p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #808285;
  font-family: var(--dmsans);
}

.main-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px 35px;
  background-color: var(--blue-dark);
  color: #fff;
  font-size: 16px;
  font-family: var(--dmsans);
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.main-btn:hover {
  background-color: var(--heading);
  color: #fff;
}

.banner .hero-img {
  position: relative;
  min-width: 590px;
  z-index: 1;
}

.banner .hero-img .hero-shape {
  position: absolute;
  z-index: -1;
}

.banner .hero-img .hero-shape.hero-shape-one {
  right: -50px;
  top: 100px;
}

.banner .hero-img .hero-shape.hero-shape-two {
  left: -50px;
  bottom: 100px;
}

.animate-float-x {
  -webkit-animation-name: float-x;
  animation-name: float-x;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animate-float-y {
  -webkit-animation-name: float-y;
  animation-name: float-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes float-x {
  0% {
    transform: translateX();
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX();
  }
}

@keyframes float-y {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY();
  }
}

.container-1350 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.service-area-v1 .service-wrapper {
  padding-left: 90px;
  padding-right: 90px;
  background-color: #fff;
}

.section-title h2 {
  margin-bottom: 22px;
}

.section-title p {
  font-size: 22px;
  font-weight: 500;
  color: #808285;
}

.service-item {
  position: relative;
  z-index: 1;
  padding: 50px 55px 40px;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid rgba(88, 86, 233, 0.2);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service-style-three:hover,
.service-style-two:hover {
  background-color: var(--blue-dark);
  border-color: transparent;
}

.service-item .icon {
  margin-bottom: 10px;
}

.service-style-three:after,
.service-style-two:after {
  position: absolute;
  content: "";
  bottom: 60px;
  right: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.service-item .icon svg {
  width: 75px;
  height: 75px;
  line-height: 1;
  fill: var(--blue-dark);
}

.service-item:hover .icon svg {
  fill: #fff;
}

.service-item .text h3.title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 35px;
}

.service-item .text h3.title a {
  color: #000;
  text-decoration: none;
}

.service-style-three:hover .text .btn-link-two,
.service-style-three:hover .text p,
.service-style-three:hover .text h3.title a,
.service-style-three:hover .text .list-style-two li,
.service-style-three:hover .btn-link,
.service-style-three:hover .icon i,
.service-style-two:hover .text h3.title a,
.service-style-two:hover .text .list-style-two li,
.service-style-two:hover .btn-link,
.service-style-two:hover .icon i {
  color: #fff;
}

.btn-link {
  font-size: 18px;
  font-weight: 700 !important;
  color: var(--blue-dark);
  text-decoration: underline;
}

.btn-link svg {
  margin-left: 10px;
}

.list-style-two li,
.list-style-one li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-style-two {
  padding-left: 0;
}

.list-style-two li {
  font-weight: 500;
}

.service-item .text .list-style-two li {
  margin-bottom: 10px;
}

.list-style-two li svg {
  margin-right: 15px;
  font-size: 20px;
}

.service-style-three:after,
.service-style-two:after {
  position: absolute;
  content: "";
  bottom: 60px;
  right: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-30px);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.service-style-three:hover:after,
.service-style-two:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.footer-gradient-bg {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(88, 86, 233, 0.149)),
    to(rgba(88, 86, 233, 0.149))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(88, 86, 233, 0.149) 0%,
    rgba(88, 86, 233, 0.149) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(88, 86, 233, 0.149) 0%,
    rgba(88, 86, 233, 0.149) 100%
  );
}

.footer-gradient-bg .shape {
  position: absolute;
  top: 0;
  left: 150px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(233, 223, 86, 0.718);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  z-index: -1;
}

.footer-widget .widget h4.widget-title {
  margin-bottom: 20px;
}

.footer-widget .widget.footer-nav-widget .widget-nav li {
  margin-bottom: 10px;
}

.footer-gradient-bg .footer-copyright .copyright-text p,
.footer-gradient-bg .footer-copyright .footer-nav ul li a,
.footer-gradient-bg .footer-widget .widget.footer-nav-widget .widget-nav li a,
.footer-gradient-bg .footer-widget .widget.social-widget .social-nav li a {
  color: var(--heading);
}

.footer-widget .widget.social-widget .social-nav li a svg {
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  max-width: 20px;
  font-size: 16px;
  color: var(--blue-dark);
}

.footer-widget .widget.newsletter-widget .newsletter-content {
  margin-top: -4px;
}

.footer-widget .widget.newsletter-widget .newsletter-content h3 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}

.footer-widget .widget.newsletter-widget .newsletter-content p {
  margin-bottom: 25px;
}

.footer-widget
  .widget.newsletter-widget
  .newsletter-content
  form
  .form_control {
  background-color: var(--light-gray);
  padding: 0 30px;
  height: 65px;
  color: var(--heading);
  border-radius: 7px;
  outline: none;
}

.footer-widget .widget.newsletter-widget .newsletter-content form .main-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 25px;
  line-height: inherit;
}

.footer-copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(89, 86, 233, 0.2);
}

.footer-copyright .footer-nav ul li {
  display: inline-block;
}

.footer-copyright .footer-nav ul li {
  display: inline-block;
}

.footer-gradient-bg .footer-widget .widget.social-widget .social-nav li a:hover,
.footer-gradient-bg
  .footer-widget
  .widget.footer-nav-widget
  .widget-nav
  li
  a:hover {
  color: var(--blue-dark);
}

.footer-widget .widget.footer-nav-widget .widget-nav li a:hover {
  color: var(--blue-dark);
  text-decoration: underline !important;
}

.footer-widget .widget.social-widget .social-nav li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-widget .widget.social-widget .social-nav li a svg {
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  max-width: 20px;
  width: 16px;
}

.footer-widget .widget.social-widget .social-nav li {
  margin-bottom: 10px;
}

.footer-widget .widget.newsletter-widget .newsletter-content {
  margin-top: -4px;
}

.copyright-text p,
.copyright-text ul {
  margin: 0;
}

.float-lg-right {
  float: right !important;
}

.footer-copyright .footer-nav ul li:not(first-child) {
  margin-left: 30px;
}

.about-area-v2 {
  position: relative;
  z-index: 1;
}

.about-area-v2 .img-holder {
  position: relative;
  z-index: 1;
}

.about-area-v2 .img-holder .shape {
  position: absolute;
  z-index: -1;
}

.about-area-v2 .img-holder .shape.shape-one {
  bottom: 65px;
  left: -40%;
}

.about-area-v2 .text-wrapper {
  padding-left: 70px;
}

.about-area-v2 .text-wrapper p {
  margin-bottom: 30px;
  color: var(--heading);
}

.main-btn.bordered-btn {
  background-color: transparent;
  border: 1px solid;
}

.bordered-btn.btn-blue {
  border-color: var(--blue-dark);
  color: var(--blue-dark);
}

.bordered-btn.btn-blue:hover {
  background-color: var(--blue-dark);
  border-color: transparent;
  color: #fff;
}

.about-area-v2 .text-wrapper p {
  margin-bottom: 30px;
  color: var(--heading);
}

.list-style-one li {
  font-weight: 700;
  color: var(--heading);
}

.about-area-v2 .text-wrapper ul.list-style-one li {
  margin-bottom: 13px;
}

.list-style-one li svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  margin-right: 15px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.container-1350 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-area-v2 .text-wrapper h2 {
  margin-bottom: 15px;
}

.contact-area-v2 .text-wrapper p {
  margin-bottom: 30px;
}

.information-style-two {
  border: 1px solid rgba(89, 86, 232, 0.149);
  border-radius: 7px;
  padding: 40px 35px 30px;
}

.contact-area-v2 .information-style-two {
  max-width: 540px;
}

.information-style-two .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--blue-dark);
  font-size: 24px;
  color: #fff;
  margin-right: 20px;
}

.information-style-two .info {
  margin-top: -4px;
}

.blue-dark {
  color: var(--blue-dark);
}

.information-style-two .info h4 a {
  color: #000;
}

.information-style-two .info h4:hover a {
  color: var(--blue-dark);
}

.contact-area-v2 .contact-form {
  margin-left: 100px;
}

.contact-area-v2 .contact-form h2 {
  margin-bottom: 40px;
}

.contact-form form .form_control {
  margin-bottom: 30px;
  height: 60px;
  border-radius: 5px;
  padding: 0 30px;
  font-weight: 700;
  color: var(--heading);
  border: 1px solid rgba(88, 86, 233, 0.2);
  outline: none;
}

.contact-area-v2 .contact-wrapper {
  background-color: #fff;
  padding-left: 90px;
  padding-right: 90px;
}

.counter-area-v2 .counter-item,
.counter-area-v1 .counter-item {
  position: relative;
  z-index: 1;
}

.counter-area-v2 .counter-item {
  padding: 60px 45px 53px;
  border-radius: 7px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.counter-area-v2 .counter-item.item-active,
.counter-area-v2 .counter-item:hover {
  background-color: #fff;
}

.counter-area-v2 .counter-item.item-active:after,
.counter-area-v2 .counter-item:after,
.counter-area-v1 .counter-item:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e9e056;
  -webkit-filter: blur(57.5px);
  filter: blur(57.5px);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.counter-area-v2 .counter-item.item-active:after {
  visibility: visible;
  opacity: 1;
}

.counter-area-v2 .counter-item .icon,
.counter-area-v1 .counter-item .icon {
  font-size: 70px;
  color: var(--blue-dark);
  margin-bottom: 30px;
}

.counter-area-v2 .counter-item .text h2,
.counter-area-v1 .counter-item .text h2 {
  margin-bottom: 8px;
}

.counter-area-v2 .counter-item .text p {
  color: var(--heading);
  font-weight: 700;
}

.pricing-area-v1 .pricing-wrapper {
  background-color: #fff;
  padding-left: 90px;
  padding-right: 90px;
}

.pricing-item {
  position: relative;
  z-index: 1;
  border-radius: 7px;
}

.pricing-item-one {
  padding: 32px 50px 35px;
  border: 1px solid var(--blue-dark);
  padding-bottom: 0;
}

.pricing-item .pricing-head {
  padding: 0 10px;
}

.pricing-item-one .pricing-body {
  margin-bottom: -30px;
}

.pricing-item .pricing-head span.plan {
  color: var(--heading);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.pricing-item .pricing-head h2.price {
  margin-bottom: 20px;
}

.pricing-item .pricing-body p {
  margin-bottom: 25px;
}

.pricing-item .pricing-body .pricing-list {
  margin-bottom: 36px;
}

.pricing-item-one .pricing-body .main-btn {
  display: block;
  text-align: center;
  padding: 14px 35px;
}

.pricing-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
  color: var(--heading);
  font-size: 20px;
  font-weight: 500;
}

.pricing-list li.uncheck {
  opacity: 0.15;
}

.pricing-list li svg {
  font-weight: 400;
  flex: 0 0 25px;
  max-width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
}

.pricing-item .ribbon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffcd3e;
  position: absolute;
  top: 37px;
  right: -10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: var(--heading);
  padding: 0 10px;
  line-height: 30px;
  font-weight: 700;
}

.cta-area-v2 .cta-wrapper {
  position: relative;
  padding: 50px 70px;
  background-color: var(--blue-dark);
  margin-bottom: -100px;
}

.section-title-white .sub-title,
.section-title-white p,
.section-title-white h2 {
  color: #fff;
}

.bordered-btn.btn-white {
  border-color: #fff;
}

.bordered-btn.btn-white:hover {
  background-color: var(--heading);
  color: #fff;
  border-color: transparent;
}

.back-to-top {
  background: var(--blue-dark);
  border-radius: 50%;
  bottom: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 337;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-banner {
  padding: 250px 0 160px;
  background-image: -ms-linear-gradient(
    0deg,
    rgb(89, 86, 233) 0%,
    rgb(0, 208, 156) 100%
  );
}

.page-banner .shape {
  position: absolute;
  z-index: -1;
}

.page-banner .shape.shape-one {
  top: 165px;
  left: 90px;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.page-banner .shape.shape-one span {
  transform: translate3d(7px, -10.7px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: block;
}

.page-banner .shape.shape-two {
  top: 140px;
  left: 55%;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.page-banner .shape.shape-two span {
  transform: translate3d(2.3px, -6.4px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: block;
}

.page-banner .shape.shape-three {
  bottom: 60px;
  left: 35%;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.page-banner .shape.shape-three span {
  transform: translate3d(3.7px, -9.6px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: block;
}

.page-banner .shape.shape-four {
  bottom: 15%;
  right: 8%;
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.page-banner .shape.shape-four span {
  transform: translate3d(3.1px, -12.6px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: block;
}

.page-banner:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(89, 86, 233)),
    to(rgb(0, 208, 156))
  );
  background: -o-linear-gradient(
    left,
    rgb(89, 86, 233) 0%,
    rgb(0, 208, 156) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(89, 86, 233) 0%,
    rgb(0, 208, 156) 100%
  );
  opacity: 0.1;
  z-index: -1;
}

.page-banner .page-title h1 {
  margin-bottom: 10px;
}

.page-banner .page-title .breadcrumbs-link li {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
}

.page-banner .page-title .breadcrumbs-link li a {
  color: #808285;
}

.page-banner .page-title .breadcrumbs-link li svg {
  margin-left: 12px;
  margin-right: 12px;
  color: #808285;
  height: 16px;
}

.page-banner .page-title .breadcrumbs-link li.active {
  color: var(--blue-dark);
  text-decoration: underline;
}

.page-banner .page-banner-img {
  position: relative;
  margin-bottom: -250px;
}

.page-banner .page-banner-img img {
  border-radius: 9px;
}

.fancy-text-block-v2 .text-wrapper {
  padding-left: 70px;
}

.fancy-text-block .text-wrapper p {
  margin-bottom: 45px;
}

.section-title .sub-title {
  position: relative;
  font-weight: 700;
  color: var(--blue-dark);
}

.section-title .st-one {
  font-size: 24px;
  padding: 17px 35px;
  z-index: 1;
  margin-bottom: 25px;
}

.section-title .st-one:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url("./assets/border-1.png") no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
}

.fancy-text-block .text-wrapper .section-title p,
.about-area-v3 .text-wrapper .section-title p {
  margin-bottom: 0;
  color: var(--blue-dark);
}

.fancy-text-block .text-wrapper p {
  margin-bottom: 45px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.service-style-three {
  -webkit-box-shadow: 0 10px 60px 0 rgb(89 86 233 / 10%);
  box-shadow: 0 10px 60px 0 rgb(89 86 233 / 10%);
  border: none;
}

.list-style-two li {
  font-weight: 500;
}

.service-item .text .list-style-two li {
  margin-bottom: 10px;
  color: var(--text-color);
}

.btn-link {
  text-decoration: underline !important;
}

.light-gray-bg {
  background-color: var(--light-gray);
}

.skill-area-v1 {
  padding-top: 300px;
}

.skill-area-v1 .shape {
  position: absolute;
}

.skill-area-v1 .shape.shape-one {
  top: 25%;
  right: 100px;
}

.skill-area-v1 .shape.shape-two {
  bottom: 90px;
  left: 105px;
}

.skill-area .img-holder .shape {
  position: absolute;
  z-index: -1;
}

.skill-area-v1 .img-holder .shape.shape-one {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -200px;
}

.skill-area-v1 .text-wrapper {
  padding-left: 70px;
}

.single-skill {
  margin-bottom: 30px;
  overflow: hidden;
}

.single-skill .progress-title h5 {
  font-size: 18px;
}

.single-skill .progress-title h5 span {
  float: right;
}

.single-skill .progress-bar {
  height: 4px;
  background-color: var(--blue-dark);
  margin-bottom: 5px;
}

.single-skill .progress {
  background-color: rgba(89, 86, 233, 0.15);
  height: 2px;
}

.bototm-minus-200 {
  margin-bottom: -200px;
}

.dark-blue-bg {
  background-color: var(--blue-dark);
}

.pricing-area-v1 .shape {
  position: absolute;
  z-index: -1;
}

.pricing-area-v1 .shape.shape-one {
  top: 200px;
  left: 150px;
}

.pattern-bg:after {
  position: absolute;
  right: 150px;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url("./assets/pattern-shape-1.png") no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.pattern-bg {
  position: relative;
  z-index: 1;
}

.pricing-item {
  position: relative;
  z-index: 1;
  border-radius: 7px;
}

.pricing-item-two {
  background-color: #fff;
  padding: 35px 40px 40px;
}

.section-title-white .sub-title,
.section-title-white p,
.section-title-white h2 {
  color: #fff;
}

.section-title-white .st-one:after {
  background: url("./assets/border-2.png") no-repeat bottom;
  background-size: 100% 100%;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navigation-style-v2 .container-fluid {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-navigation.navigation-style-v2 {
    padding: 15px 0;
  }
  .header-navigation.breakpoint-on .primary-menu {
    padding-bottom: 15px;
  }
  .header-navigation.breakpoint-on .nav-menu {
    text-align: left;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9999;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0;
    -webkit-box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 70px;
  }
  .header-navigation.breakpoint-on .header-right-nav ul li.bar-item {
    display: none;
  }
  .header-right-nav ul li.navbar-toggle-btn {
    display: block;
  }
  .header-navigation.breakpoint-on .navbar-close,
  .header-navigation.breakpoint-on .navbar-toggler {
    display: block;
  }
  .header-navigation.breakpoint-on .navbar-toggler span {
    position: relative;
    background-color: #162542;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    width: 30px;
    cursor: pointer;
    display: block;
  }
  .header-navigation.breakpoint-on .navbar-toggler.active span:nth-of-type(1) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
  }
  .header-navigation.breakpoint-on .navbar-toggler.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header-navigation.breakpoint-on .navbar-toggler.active span:nth-of-type(3) {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    top: -8px;
  }
  .header-navigation.breakpoint-on .nav-menu {
    text-align: left;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9999;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0;
    -webkit-box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 70px;
  }
  .header-navigation.breakpoint-on .nav-menu.menu-on {
    left: 0;
  }
  /* Main */
  .banner .hero-content h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .banner .hero-img {
    min-width: 100%;
  }
  .banner .hero-img .hero-shape,
  .footer-gradient-bg .shape {
    display: none;
  }
  .section-title h2 {
    font-size: 45px;
    line-height: 55px;
  }
  .service-item {
    padding: 50px 30px 40px;
  }
  .service-item .text h3.title {
    font-size: 24px;
    line-height: 35px;
  }
  .service-item .text .list-style-two li {
    font-size: 15px;
  }
  .section-title h2 {
    font-size: 45px;
    line-height: 55px;
  }
  .contact-area-v2 .information-style-two h4 {
    font-size: 20px;
  }
  .counter-area-v2 .counter-item {
    padding: 60px 15px 53px;
  }
  .pricing-item-one {
    padding: 32px 20px 35px;
  }
  .pricing-item-one .pricing-body {
    margin-bottom: -65px;
  }
  .pricing-item .pricing-head span.plan {
    font-size: 18px;
  }
  .pricing-item .pricing-head h2.price {
    font-size: 34px;
    line-height: 45px;
  }
  .pricing-list li {
    font-size: 16px;
  }
}
